@model MongoSample.Web.Models.StatsModel
@{
    ViewBag.Title = "MongoSampleWithC#";
}

<h2>Map Reduced Results</h2>

<p>
    Map Reduced Item Count : @Model.ItemCount
    
    <br />
    
    Map Reduced Items Amount Total @Model.AmountTotal
</p>
